/* src/App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(246, 233, 221);
}

.App {
  font-family: Arial, sans-serif;
  background-color: antiquewhite;
  background-image: url('/main-bg/whole-bg.avif'); /* Replace with the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed; /* This keeps the background static */
  
  min-height: 100vh; /* Ensures the background covers the entire page */
}

.content {
  margin-left: 0px; /* Adjust this based on your sidebar width */
  padding: 16px;
  transition: margin-left 0.5s;
}

.sidebar.open + .content {
  margin-left: 260px;
}
