.book-details {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

.book-details h1 {
  font-family: Copernicus, "Libre Baskerville", Georgia, serif;
  text-align: center;
}

.underline {
  width: 100%;
  height: 2px;
  background-color: #89b8bc;
  margin: 20px 0;
}

.book-info {
  display: flex;
  justify-content: space-between;
}

/* Adjusted Left Section */
.book-meta-left {
  display: flex;  /* Display the cover image and description side by side */
  flex: 1;
  margin-right: 40px;
}

.book-meta-left img {
  max-width: 250px;
  height: auto;
  margin-right: 20px;
  margin-top: 50px;
  flex-shrink: 0; /* Prevent image from resizing */
}

.book-description {
  max-width: 560px;
}

.book-description h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Copernicus, "Libre Baskerville", Georgia, serif
}

.book-description p {
  font-size: 18px;
}

/* Right Section */
.book-meta-right {
  flex: 0.5;
  border-left: 2px solid #89b8bc;
  padding-left: 20px;
  font-family: Copernicus, "Libre Baskerville", Georgia, serif
}

.book-meta-right h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.book-meta-right p {
  margin-top: 0px;
  font-size: 18px;
}

.borrow-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.borrow-button:hover {
  background-color: #0056b3;
}
