/* src/Sidebar.css */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar.open {
  width: 250px; /* Width of the sidebar when opened */
}

.sidebar .close-btn {
  position: absolute;
  top: 20px;
  right: 25px;
  font-size: 36px;
  background: none;
  border: none;
  color: #818181;
  cursor: pointer;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none; /* Ensure no underline */
}

.sidebar ul li:hover {
  color: #f1f1f1; /* Change color on hover */
}

/* Updated styles for links in the sidebar */
.sidebar ul li a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit the color from the li parent */
  display: block; /* Ensure the link occupies the full li space */
  height: 100%; /* Fill the li height */
}

/* New rule to specifically target the 'Borrowed Books' link if it needs to be styled differently */
.sidebar ul li a:hover {
  color: #f1f1f1; /* Change color on hover for links */
}

.dropdown {
  list-style-type: none;
  padding: 0;
}

.dropdown li {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.dropdown li:hover {
  color: #f1f1f1; /* Change color on hover for dropdown items */
}

.categories-list {
  list-style-type: none;
  padding-left: 20px;
}

.categories-list li {
  padding: 8px 8px 8px 32px;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

.categories-list li:hover {
  color: #f1f1f1; /* Change color on hover for category items */
}
